.main {
    margin-top: 8%;
    display: flex;
    padding-left: 7%;
    flex-direction: column;
    height: 70%;
    min-height: 440px;
    width: 33%;
    min-width: 393px;
    justify-content: space-around;
}

body {
    height: 100vh !important;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0b0b40;
    background-image:radial-gradient(circle at 39.82% 49.85%, #25174f, transparent 100%),radial-gradient(circle at 52.86% 50.31%, #1f5457, transparent 100%),radial-gradient(circle at 50% 50%, #1c143b, #1c143b 100%);
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    margin:0;
}

.drawing {
    width: 300px;
    height: 500px;
    border-right: 4px solid rgba(255, 255, 255, 0.39);
    border-top: 4px solid rgba(255, 255, 255, 0.39);
    margin-left: 27%;
    margin-top: 8%;
    margin-bottom: 30px;
}

.drawing:before {
    content: '';
    display: inline-block;
    width: 10%;
    height: 15%;
    border-left: 4px solid rgba(255, 255, 255, 0.39);
}

.score {
    display: flex;
    position: absolute;
    top: 10px;
    left: 7%;
    width: 60%;
    min-width: 780px;
    font-size: 20px;
    margin-top: 6%;
}

#wrong,
#correct {
    min-width: 100px;
}

#correct,
.score div:nth-of-type(2) {
    display: flex;
    justify-content: space-around;
    width: 24%;
    text-transform: capitalize;
}

#missed-words {
    word-wrap: break-word;
}

#missed-number {
    color: pink;
    font-size: 35px;
    font-weight: bold;
}

#guessed-number {
    color: lightgreen;
    font-size: 35px;
    font-weight: bold;
}

.show {
    opacity: 1 !important;
}

.hide {
    opacity: 0 !important;
    /*important is needed so that it overrides the initial oppacity value*/
}

#l1 {
    width: 35%;
    height: 20%;
    border: 4px solid rgba(255, 255, 255, 0.39);
    position: relative;
    border-radius: 50%;
    opacity: 0;
    top: -2%;
    left: -18%;
}

#l2 {
    width: 4px;
    height: 17%;
    position: relative;
    left: 0%;
    background: rgba(255, 255, 255, 0.39);
    opacity: 0;
    top: -2%;
}

#l3 {
    width: 4px;
    height: 30%;
    position: relative;
    transform: rotate(-45deg);
    background: rgba(255, 255, 255, 0.39);
    opacity: 0;
    top: -28%;
    left: -19%;
}

#l4 {
    width: 4px;
    height: 30%;
    position: relative;
    top: -58%;
    left: 19%;
    transform: rotate(45deg);
    background: rgba(255, 255, 255, 0.39);
    opacity: 0;
}

#l5 {
    width: 4px;
    height: 17%;
    position: relative;
    top: -62%;
    left: 0%;
    background: rgba(255, 255, 255, 0.39);
    opacity: 0;
}

#l6 {
    width: 4px;
    height: 30%;
    position: relative;
    top: -67%;
    left: -19%;
    transform: rotate(-135deg);
    background: rgba(255, 255, 255, 0.39);
    opacity: 0;
}

#l7 {
    width: 4px;
    height: 30%;
    position: relative;
    top: -97%;
    left: 18%;
    transform: rotate(135deg);
    background: rgba(255, 255, 255, 0.39);
    opacity: 0;
}

#newGame {
    visibility: hidden;
}
#newGame:hover{
   background-color: greenyellow;
}

#word {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 8px;
}

#letter {
    height: 50px;
    width: 76%;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}

#guessed-letters {
    font-size: 25px;
    letter-spacing: 8px;
    margin-top: 10%;
    position: relative;
    top: 10%;
}

#newGame {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 6px;
    left: 89px;
    background-color: palegreen;
    border-radius: 10px;
    color: #2f6123;
    font-size: 23px;
    box-shadow: 0 0 12px 2px green inset;
}

#message-area {
    position: relative;
    top: -35px;
    font-size: 17px;
    color: rgb(255, 202, 0);
    font-weight: bold;
}

@media screen and (max-width: 1050px) {
    body{
        overflow-y: auto;
    }
}
@media screen and (max-height: 620px) {
    body{
        overflow-y: auto;
    }
}